@model softblocks.data.Model.DocumentType

<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-note2"></i>
                    </div>
                    <div class="header-title">
                        <h3>Document Type</h3>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6" id="pblCreateOrg">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        Document Type
                    </div>
                    <div class="panel-body">

                        <p>A document type is a data set.</p>

                        <form id="frmCreateOrg">
                            <div class="form-group">
                                <label for="exampleInputName">Document Type Name</label>
                                <input type="text" class="form-control" id="txtOrganisationName" placeholder="Name" required="" value="@Model.Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription">@Model.Description</textarea>
                            </div>
                            <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                            <button type="button" class="btn btn-default" id="btnCreate">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="pnlAddField">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        Add/Edit Field
                    </div>
                    <div class="panel-body">

                        <p>A document type is a data set.</p>

                        <form id="frmAddField">
                            <div class="form-group">
                                <label for="exampleInputName">Field Name</label>
                                <input type="text" class="form-control" id="txtFieldName" placeholder="Name" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Data Type</label>
                                <select id="ddDataType" class="form-control">
                                    <option value="Text">Text</option>
                                    <option value="Integer">Integer</option>
                                </select>
                            </div>
                            <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                            <button type="button" class="btn btn-default" id="btnAddField">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="pnlFields"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(function () {

            //Load partial view
            var LoadFieldTable = function () {
                $("#pnlFields").addClass("ld-loading");
                $('#pnlFields').load('@Url.Action("Fields", "DocumentTypes", new { id = Model.Id })', function () {
                    $("#pnlFields").removeClass("ld-loading");
                });
            }

            LoadFieldTable();

            $("#btnAddField").click(function () {
                $("#pnlAddField").addClass("ld-loading");
                var isValid = $("#frmAddField").valid();
                if (isValid) {
                    var data = {
                        DocumentId: '@Model.Id.ToString()',
                        Name: $("#txtFieldName").val(),
                        DataType: $("#ddDataType").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddField", "DocumentTypes")',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (d) {
                            $("#pnlAddField").removeClass("ld-loading");
                            if (d.IsSuccess == true) {
                                $("#frmAddField")[0].reset();
                                LoadFieldTable();
                                toastr.success('Successfully add field!');
                            }
                            else {
                                toastr.warning('Error occured. ' + d.Message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            $("#pnlAddField").removeClass("ld-loading");
                            // TODO: Show error
                        }
                    });
                }
            });
        });
</script>
}