@model softblocks.data.Model.DocumentType

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Document Types</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">UI Elements</a></li>
            <li class="active">Panels &amp; Wells</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                @Model.Name
                <div class="panel-action">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Options<span class="caret"></span></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                            <li role="presentation"><a data-toggle="modal" data-target="#pnlAddPage" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Add Page</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form class="form-horizontal row" role="form">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputName">Document Type Name</label>
                                    <input type="text" class="form-control" id="txtOrganisationName" placeholder="Name" required="" value="@Model.Name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Description</label>
                                    <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription">@Model.Description</textarea>
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-block btn-info waves-effect" id="btnCreate">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                Add Fields
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <form id="frmAddField">
                        <div class="form-group">
                            <label for="exampleInputName">Parent</label>
                            <div id="pnlDDParent"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Field Name</label>
                            <input type="text" class="form-control" id="txtFieldName" placeholder="Name" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Data Type</label>
                            <select id="ddDataType" class="form-control">
                                <option value="Text">Text</option>
                                <option value="Integer">Integer</option>
                                <option value="Document Type">Document Type</option>
                            </select>
                        </div>
                        <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                        <button type="button" class="btn btn-block btn-info waves-effect" id="btnAddField">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                Fields
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="pnlFields"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-note2"></i>
                    </div>
                    <div class="header-title">
                        <h3>Document Type</h3>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6" id="pblCreateOrg">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        Document Type
                    </div>
                    <div class="panel-body">

                        <p>A document type is a data set.</p>

                        <form id="frmCreateOrg">
                            <div class="form-group">
                                <label for="exampleInputName">Document Type Name</label>
                                <input type="text" class="form-control" id="txtOrganisationName" placeholder="Name" required="" value="@Model.Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription">@Model.Description</textarea>
                            </div>
                            <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                            <button type="button" class="btn btn-default" id="btnCreate">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="pnlAddField">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        Add/Edit Field
                    </div>
                    <div class="panel-body">

                        <p>A document type is a data set.</p>

                        <form id="frmAddField">
                            <div class="form-group">
                                <label for="exampleInputName">Field Name</label>
                                <input type="text" class="form-control" id="txtFieldName" placeholder="Name" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Data Type</label>
                                <select id="ddDataType" class="form-control">
                                    <option value="Text">Text</option>
                                    <option value="Integer">Integer</option>
                                </select>
                            </div>
                            <!--<button type="button" class="btn btn-default" id="btnCreate">Create</button>-->
                            <button type="button" class="btn btn-default" id="btnAddField">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                sadf
                
            </div>
        </div>
    </div>
</section>*@

@section Scripts{
    <script type="text/javascript">
        $(function () {

            //Load partial view
            var LoadFieldTable = function () {
                $('#pnlFields').load('@Html.Raw(Url.Action("Fields", "DocumentTypes", new { documentId = Model.Id.ToString(), appId = ViewBag.AppId }))', function () {
                    //$("#pnlFields").removeClass("ld-loading");
                });
            }

            var LoadParentField = function () {
                $('#pnlDDParent').load('@Html.Raw(Url.Action("ParentDocumentTypes", "DocumentTypes", new { documentId = Model.Id.ToString(), appId = ViewBag.AppId }))', function () {
                    //$("#pnlFields").removeClass("ld-loading");
                });
            }

            LoadFieldTable();
            LoadParentField()

            $("#btnAddField").click(function () {
                var isValid = $("#frmAddField").valid();
                if (isValid) {
                    var data = {
                        AppId: '@ViewBag.AppId',
                        DocumentTypeId: '@Model.Id.ToString()',
                        Name: $("#txtFieldName").val(),
                        DataType: $("#ddDataType").val(),
                        Parent: $("#ddParent").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddField", "DocumentTypes")',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (d) {
                            if (d.IsSuccess == true) {
                                $("#frmAddField")[0].reset();
                                LoadFieldTable();
                                LoadParentField();
                                alertSuccess("Success", "Successfully created page!");
                            }
                            else {
                                alertError("Error!", d.Message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alertError("Error!", d.Message);
                            // TODO: Show error
                        }
                    });
                }
            });
        });
</script>
}