@model softblocks.data.Model.DataView

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Data View - @Model.Name</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/AppModule">Modules</a></li>
            <li><a href="/AppModule/ModuleDetails?moduleId=@ViewBag.AppId">@ViewBag.AppName</a></li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" id="firstName" class="form-control" placeholder="John doe" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="pull-right"><button type="button" class="btn btn-info waves-effect" id="btnAddColumn" data-toggle="modal" data-target="#pnlAddCol">Add Column</button></span>
        <h3>Preview</h3>

        <div class="row" id="pnlTable">
        </div>
    </div>
</div>


<div class="modal fade" id="pnlAddCol" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Column</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddColumn">
                    <div class="form-group">
                        <label for="exampleInputName">Field</label>
                        <select id="ddField" class="form-control"></select>
                    </div>
                    <div class="form-check">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkIsLink">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Show link to detail page?</span>
                        </label>
                    </div>
                    <div class="form-group" id="pnlDDDetailPages" style="display:none;">
                        <label for="exampleInputName">Detail Page</label>
                        <select id="ddDetailPages" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Order</label>
                        <input type="text" class="form-control" id="txtOrder" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnAdd">Add</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {

            $("#chkIsLink").change(function () {
                var isLink = $("#chkIsLink").prop("checked") == true;
                if (isLink) {
                    $("#pnlDDDetailPages").slideDown("slow");
                }
                else {
                    $("#pnlDDDetailPages").slideUp("slow");
                }
            });

            var GetPages = function () {
                $.ajax({
                    type: "GET",
                    url: "@Html.Raw(Url.Action("List", "Page", new { appId = ViewBag.AppId }))",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $.each(d.Result, function (fieldIndex, fieldItem) {
                            $("#ddDetailPages").append($("<option></option>").attr("value", ConvertObjectId(fieldItem.PageId)).text(fieldItem.Name));
                        })
                    },
                    error: function (xhr, textStatus, errorThrown) {
                    }
                });
            };

            var RenderTable = function () {
                AddLoadingOverlay("#pnlTable");
                $('#pnlTable').load('@Html.Raw(Url.Action("RenderTabular", "DataView", new { appId = ViewBag.AppId, id = Model.Id.ToString() }))', function () {
                    RemoveLoadingOverlay("#pnlTable");
                    window.SoftblockTabular.Init();
                });
            };


            var GetDocumentTypeFields = function () {
                $.ajax({
                    type: "GET",
                    url: "@Html.Raw(Url.Action("ListFields", "DocumentTypes", new { documentId = Model.DocumentTypeId, appId = ViewBag.AppId }))",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $.each(d.Result, function (fieldIndex, fieldItem) {
                            $("#ddField").append($("<option></option>").attr("value", ConvertObjectId(fieldItem.Id)).text(fieldItem.Name));
                        })
                    },
                    error: function (xhr, textStatus, errorThrown) {
                    }
                });
            };


            $("#btnAdd").click(function () {
                var isValid = $("#frmAddColumn").valid();
                if (isValid) {

                    var pageId = '';
                    if ($("#chkIsLink").prop("checked") == true) {
                        pageId = $("#ddDetailPages").val();
                    }

                    var data = {
                        AppId: '@ViewBag.AppId',
                        DataViewId: '@Model.Id',
                        FieldId: $("#ddField").val(),
                        Order: $("#txtOrder").val(),
                        IsLinkToDetailPage: $("#chkIsLink").prop("checked") == true,
                        PageId: pageId
                    }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("TabularAddColumn", "DataView")",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (d) {
                            if (d.IsSuccess == true) {
                                $("#frmAddColumn")[0].reset();
                                $("#pnlAddCol").modal('toggle');
                                alertSuccess("Success", "Successfully added column!");
                                RenderTable();
                            }
                            else {
                                alertError("Error!", d.Message);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            RemoveLoadingOverlay("#pnlTable");
                            // TODO: Show error
                        }
                    });
                }
            });


            GetDocumentTypeFields();
            RenderTable();
            GetPages();

        });
    </script>
}
