@model softblocks.Models.ResRenderForm
@{
    Layout = null;
}


@if (Model.DocumentFields != null && Model.Form != null)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">

                @Model.Form.Name
            </div>
            <div class="panel-body" style="display: block;">
                <div class="row">
                    <form id="frm-@Model.Form.Id">
                        @if (Model.Form.Fields != null)
                        {
                            foreach (var field in Model.Form.Fields.OrderBy(n => n.Order))
                            {
                                if (Model.DocumentFields.Any(n => n.Id == field.FieldId))
                                {
                                    var docField = Model.DocumentFields.FirstOrDefault(n => n.Id == field.FieldId);
                                    switch (docField.DataType)
                                    {
                                        case "Text":
                                            <div class="col-md-@field.ColWidth">
                                                <div class="form-group">
                                                    <label class="control-label">@docField.Name</label>
                                                    <input type="text" id="@docField.Id" data-field-name="@docField.Name" data-field-data-type="@docField.DataType" class="form-control form-field" placeholder="@docField.Name">
                                                </div>
                                            </div>
                                            break;
                                        case "Integer":
                                        <div class="col-md-@field.ColWidth">
                                            <div class="form-group">
                                                <label class="control-label">@docField.Name</label>
                                                <input type="text" id="@docField.Id" data-field-name="@docField.Name" data-field-data-type="@docField.DataType" class="form-control form-field" placeholder="@docField.Name">
                                            </div>
                                        </div>
                                            break;
                                        case "Date":
                                        <div class="col-md-@field.ColWidth">
                                            <div class="form-group">
                                                <label class="control-label">@docField.Name</label>
                                                <input type="text" id="@docField.Id" data-field-name="@docField.Name" data-field-data-type="@docField.DataType" class="form-control form-field field-date" placeholder="dd/MM/yyyy">
                                            </div>
                                        </div>
                                            break;
                                    }
                                }
                            }
                        }
                    </form>                       

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-line-dashed"></div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary form-submit-btn" type="button" id="btnSubmit">Submit</button>
                    </div>                    
                </div>
            </div>

        </div>        
    </div>
}
else
{
    <b>Could not load form.</b>
}

@*@if (Model.DocumentFields != null && Model.Form != null)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                @Model.Form.Name
            </div>
            <form id="frm-@Model.Form.Id">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">

                            @if (Model.Form.Fields != null)
                            {
                                foreach (var field in Model.Form.Fields.OrderBy(n => n.Order))
                                {
                                    if (Model.DocumentFields.Any(n => n.Id == field.FieldId))
                                    {
                                        var docField = Model.DocumentFields.FirstOrDefault(n => n.Id == field.FieldId);
                                        switch (docField.DataType)
                                        {
                                            case "Text":
                                                <div class="col-md-@field.ColWidth">
                                                    <div class="form-group">
                                                        <span class="pull-right">
                                                            <a href="#" class=""><i class="fa fa-pencil"></i></a>
                                                            &nbsp;
                                                            <a href="javascript:alert('sdf');"><i class="fa fa-times"></i></a>
                                                            &nbsp;
                                                        </span>
                                                        <label class="control-label">@docField.Name</label>
                                                        <input type="text" id="@docField.Id" data-field-name="@docField.Name" data-field-data-type="@docField.DataType" class="form-control form-field" placeholder="@docField.Name">
                                                    </div>
                                                </div>
                                                break;
                                            case "Integer":
                                                <div class="col-md-@field.ColWidth">
                                                    <div class="form-group">
                                                        <span class="pull-right">
                                                            <a href="#" class=""><i class="fa fa-pencil"></i></a>
                                                            &nbsp;
                                                            <a href="javascript:alert('sdf');"><i class="fa fa-times"></i></a>
                                                            &nbsp;
                                                        </span>
                                                        <label class="control-label">@docField.Name</label>
                                                        <input type="text" id="@docField.Id" data-field-name="@docField.Name" data-field-data-type="@docField.DataType" class="form-control form-field" placeholder="@docField.Name">
                                                    </div>
                                                </div>
                                                break;
                                            case "Date":
                                            <div class="col-md-@field.ColWidth">
                                                <div class="form-group">
                                                    <span class="pull-right">
                                                        <a href="#" class=""><i class="fa fa-pencil"></i></a>
                                                        &nbsp;
                                                        <a href="javascript:alert('sdf');"><i class="fa fa-times"></i></a>
                                                        &nbsp;
                                                    </span>
                                                    <label class="control-label">@docField.Name</label>

                                                    <div class="input-group">
                                                        <input type="text" id="@docField.Id" data-field-name="@docField.Name" data-field-data-type="@docField.DataType" class="form-control form-field field-date" placeholder="dd/MM/yyyy">
                                                        <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                                break;
                                        }
                                    }
                                }
                            }

                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-info waves-effect form-submit-btn" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                    <div class="panel-footer"> Panel Footer </div>
                </div>
            </form>

        </div>
    </div>
}
else
{
    <b>Could not load form.</b>
}*@