@model softblocks.Models.ResEditUserProfile

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/User">Users</a></li>
                    <li class="active">
                        <span>Edit User Profile</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Edit User Profile
            </h2>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading hbuilt">
                        Basic Details
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="txtFirstName" class="form-control" placeholder="John doe" value="@Model.User.FirstName">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="txtLastName" class="form-control" placeholder="John doe" value="@Model.User.LastName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <p class="text-muted">@Model.User.Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-block" id="btnCreate">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading hbuilt">
                        Extended Details
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            @if (Model.Attributes != null)
                            {
                                foreach (var attribute in Model.Attributes)
                                {
                                    <div class="col-md-@attribute.Column">
                                        <div class="form-group">
                                            <label class="control-label">@attribute.Name</label>
                                            @switch (attribute.DataType)
                                            {
                                                case "Text":
                                                    <input type="text" class="form-control user-attribute" data-user-attribute-id="@attribute.Id" data-data-type="@attribute.DataType" placeholder="@attribute.Name" value="">
                                                    break;
                                                case "Date":
                                                    <div class="input-group">
                                                        <input type="text" class="form-control user-attribute data-type-date" id="@attribute.Id" data-data-type="@attribute.DataType" data-user-attribute-id="@attribute.Id" placeholder="Date time"> 
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" onclick="OpenDatePicker('@attribute.Id')">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    break;
                                            }
                                            
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-block" id="btnSaveExtended">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.each($(".data-type-date"), function (dateElIndex, dateElItem) {
                var id = $(dateElItem).attr("id");
                $("#" + id).datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            });

            window.OpenDatePicker = function (id) {
                $("#" + id).data("DateTimePicker").toggle();
                //$($($(el).parent()).prev()).data("DateTimePicker").toggle();
                //$($($(el).parent()).prev()).datepicker();
            }

            $("#btnSaveExtended").click(function () {
                var attributeValues = [];
                $.each($(".user-attribute"), function (attrIndex, attrItem) {
                    var attrId = $(attrItem).data("user-attribute-id");
                    var attrDataType = $(attrItem).data("data-type");
                    var value = "";
                    switch (attrDataType) {
                        case "Text":
                            value = $(attrItem).val();
                            break;
                        case "Date":
                            value = $(attrItem).data("DateTimePicker").date();
                            break;
                    }

                    attributeValues.push({
                        Id: attrId,
                        Value: value
                    });
                });

            });

        });
    </script>
}