@model softblocks.Models.ResEditUserProfile

@if (Model != null)
{
    <div class="normalheader  small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Users</li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Profile
                </h2>
                <small>User Profile</small>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-4">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="pull-right text-right">
                            <a href="@Url.Action("Edit", "User", new { userId = Model.User.Id.ToString() })"><i class="fa fa-pencil"></i></a>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.User.ProfilePhoto))
                        {
                            <img src="@Url.Action("DownloadFileByPath", "Library", new { path = Model.User.ProfilePhoto, filename = Model.User.ProfilePhotoFilename, isEmbed = false })" class="circletag m-b" alt="logo">
                        }
                        else
                        {
                            <img alt="logo" class="img-circle m-b m-t-md" src="~/Images/placeholder-user-photo.png" width="75">
                        }
                        <h3><a href="">@Model.User.FirstName @Model.User.LastName</a></h3>
                        <div class="text-muted font-bold m-b-xs">@Model.User.Email</div>
                    </div>

                    <div class="panel-body">

                    </div>

                </div>
            </div>

            <div class="col-lg-8">
                <div class="hpanel">
                    <div class="hpanel">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Details</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @if (Model.Attributes != null)
                                    {
                                        foreach (var attribute in Model.Attributes)
                                        {
                                            <div class="col-md-@attribute.Column">
                                                <div class="form-group">
                                                    <label class="control-label">@attribute.Name</label><br />
                                                    @if (Model.Values.Any(n => n.AttributeId == attribute.Id)) { 
                                                        switch (attribute.DataType)
                                                        {
                                                            case "Text":
                                                                <span>@Model.Values.FirstOrDefault(n => n.AttributeId == attribute.Id).Value</span>
                                                                break;
                                                            case "Date":
                                                            <span class="RenderDate" data-date="@Model.Values.FirstOrDefault(n => n.AttributeId == attribute.Id).Value" data-format="DD MMM YYYY"></span>
                                                                break;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }                                    
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            RenderAndFormatDates();
        });
    </script>
}

