@model softblocks.data.Model.AppModulePage

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Page</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/AppModule">Modules</a></li>
            <li><a href="/AppModule/ModuleDetails?moduleId=@ViewBag.AppId">@ViewBag.AppName</a></li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" id="firstName" class="form-control" placeholder="John doe" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="pull-right"><button type="button" class="btn btn-info waves-effect" id="btnAddPanel" data-toggle="modal" data-target="#pnlAddPanel">Add Panel</button></span>
        <h3>Preview</h3>

        <div class="row" id="pnlForm">

        </div>
    </div>
</div>


<div class="modal fade" id="pnlAddPanel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Panel</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddPanel">
                    <div class="form-group">
                        <label for="exampleInputName">Panel Type</label>
                        <select id="ddPanelType" class="form-control">
                            <option value=""></option>
                            <option value="Forms">Form</option>
                        </select>
                    </div>
                    <div class="form-group" id="pnlFormDropdown" style="display:none;">
                        <label for="exampleInputName">Forms</label>
                        <select id="ddForeignId" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Column Width</label>
                        <select id="ddColWidth" class="form-control">
                            <option value="12">12</option>
                            <option value="11">11</option>
                            <option value="10">10</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Order</label>
                        <input type="text" class="form-control" id="txtOrder" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnAdd">Add</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {

            var RetrievePanelTypes = function (cb) {
                $.ajax({
                    type: "GET",
                    url: "@Html.Raw(Url.Action("ListForms", "ModuleForm", new { appId = ViewBag.AppId }))",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $.each(d.Result, function (fieldIndex, fieldItem) {
                            $("#ddForeignId").append($("<option></option>").attr("value", ConvertObjectId(fieldItem.Id)).text(fieldItem.Name));
                        })
                        cb();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                    }
                });
            };


            $("#ddPanelType").change(function () {
                switch ($("#ddPanelType").val()) {
                    case "Forms":
                        RetrievePanelTypes(function () {
                            $("#pnlFormDropdown").slideDown('slow');
                        });
                        break;
                }
            });


            $("#btnAdd").click(function () {
                AddLoadingOverlay("#pnlForm");
                var isValid = $("#frmAddPanel").valid();
                if (isValid) {
                    var data = {
                        AppModuleId: '@ViewBag.AppId',
                        PageId: '@Model.PageId',
                        Panel: {
                            PanelType: $("#ddPanelType").val(),
                            Order: $("#txtOrder").val(),
                            ColWidth: $("#ddColWidth").val()
                        },
                        ForeignId: $("#ddForeignId").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddPanel", "Page")",
                        contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (d) {
                        RemoveLoadingOverlay("#pnlForm");
                        if (d.IsSuccess == true) {
                            $("#frmAddPanel")[0].reset();
                            $("#pnlAddPanel").modal('toggle');
                            alertSuccess("Success", "Successfully created panel!");
                            LoadPages();
                            setTimeout(function () {
                                //document.location.href = "/DocumentTypes/Create/" + d.Result;
                            }, 1000);
                        }
                        else {
                            alertError("Error!", d.Message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        RemoveLoadingOverlay("#pnlForm");
                        // TODO: Show error
                    }
                });
            }
            });

        });
    </script>
}