@model softblocks.data.Model.AppModulePage

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">@Model.Name</a></li>
                    <li>
                        <span>Interface</span>
                    </li>
                    <li class="active">
                        <span>Loading buttons</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @Model.Name
            </h2>
            <small>Page description</small>
        </div>
    </div>
</div>

<div id="page-details" data-data-id="@ViewBag.Id" data-parent-document-name="@ViewBag.ParentDocumentName"></div>

<div class="content">

    <div class="row animate-panel" data-effect="fadeInDown" data-child="element">
        @if (Model.Panels != null)
        {
            foreach (var panel in Model.Panels.OrderBy(n => n.Order))
            {
                <div class="col-lg-@panel.ColWidth col-md-@panel.ColWidth page-panel element" data-app-id="@ViewBag.AppId" data-foreign-id="@panel.ForeignId" data-panel-type="@panel.PanelType">

                </div>
            }
        }
    </div>
</div>

    @*<div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">@Model.Name</h4>
            </div>

        </div>

        <div id="page-details" data-data-id="@ViewBag.Id" data-parent-document-name="@ViewBag.ParentDocumentName"></div>

        <div class="row">
            @if (Model.Panels != null) {
                foreach (var panel in Model.Panels.OrderBy(n => n.Order))
                {
                    <div class="col-lg-@panel.ColWidth col-md-@panel.ColWidth page-panel" data-app-id="@ViewBag.AppId" data-foreign-id="@panel.ForeignId" data-panel-type="@panel.PanelType">

                    </div>
                }
            }
        </div>*@
