@model List<softblocks.data.Model.News>

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">
                        <span>News</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                News
            </h2>
            <small>Page description</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <span class="pull-right">
                <a class="btn btn-success " href="@Url.Action("Create", "News")"><i class="fa fa-newspaper-o"></i> <span class="bold">Create an article</span></a>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            &nbsp;
        </div>
    </div>

    @if (Model != null) { 
            foreach (var article in Model.Where(y => y.Status != "Archived").OrderByDescending(n => n.DateCreated)) {
                var label = "";
                switch (article.Status){
                    case "Draft":
                        label = "warning";
                        break;
                    case "Published":
                        label = "success";
                        break;
                    case "Archived":
                        label = "info";
                        break;
                }
                
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="hpanel blog-box">
                        <div class="panel-heading">
                            <span class="pull-right">
                                <a href="@Url.Action("Edit", "News", new { articleId = article.Id.ToString() })"><i class="fa fa-pencil"></i></a>
                            </span>
                            <span class="label label-@label">
                                @article.Status
                            </span>
                            &nbsp;
                            <small class="text-muted">@article.DateCreated.ToLocalTime().ToString("dd MMM yyyy hh:mm tt")</small>
                        </div>
                        <div class="panel-body">
                            <a href="@Url.Action("ViewArticle", "News", new { articleId = article.Id.ToString() })"> <h4>@article.Title</h4></a>
                            
                        </div>
                        @*<div class="panel-footer">
                            <span class="pull-right">
                                <i class="fa fa-comments-o"> </i> 22 comments
                            </span>
                            <i class="fa fa-eye"> </i> 142 views
                        </div>*@
                    </div>
                 </div>
            </div>
        }
    }
</div>
