@model softblocks.data.Model.AppModule

<span id="pnlData" data-app-module-id="@Model.Id"></span>

<div class="normalheader  small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/AppModule">Apps</a></li>
                    <li>@Model.Name</li>
                    <li>User Interface</li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @Model.Name
            </h2>
            <small>Page description</small>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <ul class="mailbox-list">
                        <li >
                            <a href="/AppModule/ModuleDetails?moduleId=@ViewBag.AppId">
                                <i class="fa fa-television"></i> User Interface
                            </a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-table"></i> Data Components</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-share-square-o"></i> Work Flow</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> Email Templates</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-mobile"></i> SMS Templates</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cloud-upload"></i> API Schema</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-lock"></i> User Permission</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <div class="pull-right">
                                <a data-toggle="modal" data-target="#pnlCreate" role="menuitem" class="btn btn-success btn-xs"><i class="icon wb-reply" aria-hidden="true"></i> Add</a>
                            </div>
                            Document Types
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <div id="pnlDocTypes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <div class="pull-right">
                                <a data-toggle="modal" data-target="#pnlAddForm" role="menuitem" class="btn btn-success btn-xs"><i class="icon wb-reply" aria-hidden="true"></i> Add</a>
                            </div>
                            Forms
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <div id="pnlForms">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <div class="pull-right">
                                <a data-toggle="modal" data-target="#pnlAddDataView" role="menuitem" class="btn btn-success btn-xs"><i class="icon wb-reply" aria-hidden="true"></i> Add</a>
                            </div>
                            Data View
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <div id="pnlDataViews">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <div class="pull-right">
                                <a data-toggle="modal" data-target="#pnlAddDropdown" role="menuitem" class="btn btn-success btn-xs"><i class="icon wb-reply" aria-hidden="true"></i> Add</a>
                            </div>
                            Dropdown
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <div id="pnlDropdown">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@*<div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <ul class="nav customtab nav-tabs" role="tablist">
                    <li role="presentation" class="nav-item"><a href="#home1" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> User Interface</span></a></li>
                    <li role="presentation" class="nav-item"><a href="#profile1" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Data Components</span></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="home1" aria-expanded="true">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading">
                                        Pages
                                        <div class="panel-action">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Options<span class="caret"></span></a>
                                                <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                                                    <li role="presentation"><a data-toggle="modal" data-target="#pnlAddPage" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Add Page</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrapper collapse in">

                                    </div>
                                    <div class="panel-footer"> Panel Footer </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile1" aria-expanded="false">
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading">
                                        Document Types
                                        <div class="panel-action">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Options<span class="caret"></span></a>
                                                <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                                                    <li role="presentation"><a data-toggle="modal" data-target="#pnlCreate" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Add Document Types</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrapper collapse in">
                                        <div class="table-responsive">
                                            <div id="pnlDocTypes">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer"> Panel Footer </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading">
                                        Forms
                                        <div class="panel-action">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Options<span class="caret"></span></a>
                                                <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                                                    <li role="presentation"><a data-toggle="modal" data-target="#pnlAddForm" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Add Forms</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrapper collapse in">
                                        <div class="table-responsive">
                                            <div id="pnlForms">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer"> Panel Footer </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading">
                                        Data View
                                        <div class="panel-action">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Options<span class="caret"></span></a>
                                                <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                                                    <li role="presentation"><a data-toggle="modal" data-target="#pnlAddDataView" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Add Data View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrapper collapse in">
                                        <div class="table-responsive">
                                            <div id="pnlDataViews">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer"> Panel Footer </div>
                                </div>
                            </div>

                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="messages1" aria-expanded="false">
                        <div class="col-md-6">
                            <h3>Come on you have a lot message</h3>
                            <h4>you can use it with the small code</h4>
                        </div>
                        <div class="col-md-5 pull-right">
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="settings1" aria-expanded="false">
                        <div class="col-md-6">
                            <h3>Just do Settings</h3>
                            <h4>you can use it with the small code</h4>
                        </div>
                        <div class="col-md-5 pull-right">
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>




*@


<div class="modal fade" id="pnlAddForm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Form</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddForm">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="txtFormName" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtFormDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Document Type</label>
                        <select id="ddDocumentType" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Sub Document Type</label>
                        <select id="ddSubDocumentType" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnAddForm">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pnlAddDataView" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Data View</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddDataView">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="txtDataViewName" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDataViewDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Document Type</label>
                        <select id="ddDocumentTypeDataView" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Sub Document Type</label>
                        <select id="ddSubDocumentTypeDataView" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Data View Type</label>
                        <select id="ddDataViewType" class="form-control">
                            <option value="Tabular">Tabular</option>
                            <option value="Detail">Detail</option>
                            <option value="Line Chart">Line Chart</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnAddDataView">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pnlAddDropdown" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Dropdown</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddDropdown">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="txtDropdownName" placeholder="Name" required="">
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleInputName">Order</label>
                                <input type="text" class="form-control" id="txtDropdownItemOrder" placeholder="Sort" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName">Item Name</label>
                                <input type="text" class="form-control" id="txtDropdownItemName" placeholder="Name" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label style="width:100%;">&nbsp;</label>
                            <button type="button" class="btn btn-info waves-effect" id="btnAddDDItem">Add</button>
                            &nbsp;
                            <button type="button" class="btn btn-default" id="btnClearDD">Clear</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" id="tbl-dropdown">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Sort</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnAddDropdown">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pnlAddPage" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Page</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddPage">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Title</label>
                        <input type="text" class="form-control" id="txtTitle" placeholder="Page Title" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDescription"></textarea>
                    </div>
                    <div class="form-check">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkIsDetailPage">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Is this a detail page?</span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnAddPage">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pnlCreate" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Create Document Type</h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateDocumentType">
                    <div class="form-group">
                        <label for="exampleInputName">Document Type Name</label>
                        <input type="text" class="form-control" id="txtDocumentName" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="3" placeholder="Textarea example text" id="txtDocDescription"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect" id="btnCreateDocumentType">Create</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $(function () {

        var LoadForList = function () {
            AddLoadingOverlay("#pnlForms");
            $('#pnlForms').load('@Url.Action("List", "ModuleForm", new { appId = Model.Id.ToString() })', function () {
                RemoveLoadingOverlay("#pnlForms");
            });
            $('#pnlForms').slimScroll({
                height: '250px'
            });
        };

        var LoadDataViewList = function () {
            AddLoadingOverlay("#pnlDataViews");
            $('#pnlDataViews').load('@Url.Action("List", "DataView", new { appId = Model.Id.ToString() })', function () {
                RemoveLoadingOverlay("#pnlDataViews");
            });
            $('#pnlDataViews').slimScroll({
                height: '250px'
            });
        };

        var LoadPages = function () {
            AddLoadingOverlay("#pnlPages");
            $('#pnlPages').load('@Url.Action("PageList", "AppModule", new { moduleId = Model.Id.ToString() })', function () {
                RemoveLoadingOverlay("#pnlPages");
            });
            $('#pnlPages').slimScroll({
                height: '250px'
            });
        }

        var LoadDocumentTypes = function () {
            AddLoadingOverlay("#pnlDocTypes");
            $('#pnlDocTypes').load('@Url.Action("List", "DocumentTypes", new { appId = Model.Id.ToString() })', function () {
                RemoveLoadingOverlay("#pnlDocTypes");
            });
            $('#pnlDocTypes').slimScroll({
                height: '250px'
            });
        }

        var GetDocumentType = function () {
            $.ajax({
                type: "GET",
                url: "@Html.Raw(Url.Action("GetDocumentTypes", "DocumentTypes", new { appModuleId = Model.Id.ToString(), parentId = "0" }))",
                contentType: "application/json",
                dataType: "json",
                success: function (d) {
                    $.each(d.Result, function (docTypeIndex, docTypeItem) {
                        $("#ddDocumentType").append($("<option></option>").attr("value", ConvertObjectId(docTypeItem.Id)).text(docTypeItem.Name));
                        $("#ddDocumentTypeDataView").append($("<option></option>").attr("value", ConvertObjectId(docTypeItem.Id)).text(docTypeItem.Name));

                        GetSubDocumentType($("#ddDocumentType").val());
                        GetSubDocumentTypeForDataView($("#ddDocumentTypeDataView").val());
                    })
                },
                error: function (xhr, textStatus, errorThrown) {
                }

            });
        };

        var GetSubDocumentTypeForDataView = function (selectedDocumentTypeId) {
            $.ajax({
                type: "GET",
                url: "/DocumentTypes/GetSubDocuments?appId=@Model.Id.ToString()&documentId=" + selectedDocumentTypeId,
                contentType: "application/json",
                dataType: "json",
                success: function (d) {
                    $("#ddSubDocumentTypeDataView").empty();
                    $("#ddSubDocumentTypeDataView").append($("<option></option>").attr("value", "").text("- none -"));
                    for (var key in d) {
                        $("#ddSubDocumentTypeDataView").append($("<option></option>").attr("value", d[key]).text(key));
                    }
                    //$("#ddSubDocumentType").append($("<option></option>").attr("value", ConvertObjectId(docTypeItem.Id)).text(docTypeItem.Name));
                },
                error: function (xhr, textStatus, errorThrown) {
                }

            });
        };


        var GetSubDocumentType = function (selectedDocumentTypeId) {
            $.ajax({
                type: "GET",
                url: "/DocumentTypes/GetSubDocuments?appId=@Model.Id.ToString()&documentId=" + selectedDocumentTypeId,
                contentType: "application/json",
                dataType: "json",
                success: function (d) {
                    $("#ddSubDocumentType").empty();
                    $("#ddSubDocumentType").append($("<option></option>").attr("value", "").text("- none -"));
                    for (var key in d) {
                        $("#ddSubDocumentType").append($("<option></option>").attr("value", d[key]).text(key));
                    }
                    //$("#ddSubDocumentType").append($("<option></option>").attr("value", ConvertObjectId(docTypeItem.Id)).text(docTypeItem.Name));
                },
                error: function (xhr, textStatus, errorThrown) {
                }

            });
        };

        GetDocumentType();

        LoadPages();
        LoadDocumentTypes();
        LoadForList();
        LoadDataViewList();

        $("#ddDocumentType").change(function () {
            GetSubDocumentType($("#ddDocumentType").val());
        });

        $("#ddDocumentTypeDataView").change(function () {
            GetSubDocumentTypeForDataView($("#ddDocumentTypeDataView").val());
        });

        var ddItems = [];

        $("#btnClearDD").click(function () {
            ddItems = [];
            $("#tbl-dropdown").DataTable({
                destroy: true,
                data: ddItems,
                columns: [{ title: "Item Name" }, { title: "Order" }]
            });
        });

        $("#btnAddDDItem").click(function () {
            var ddItem = $("#txtDropdownItemName").val();
            var ddOrder = $("#txtDropdownItemOrder").val();
            var row = [];
            row.push(ddItem);
            row.push(ddOrder);
            ddItems.push(row);

            $("#tbl-dropdown").DataTable({
                destroy: true,
                data: ddItems,
                columns: [{ title: "Item Name" }, { title: "Item Sort" } ]
            });

            $("#txtDropdownItemName").val('');
        });

        $("#btnAddDropdown").click(function () {
            var items = [];
            $.each(ddItems, function (ddIndex, ddItem) {
                items.push({
                    Name: ddItem[0],
                    Order: parseInt(ddItem[1])
                });
            });

            var addDropdownParam = {
                Name: $("#txtDropdownName").val(),
                AppId: '@Model.Id.ToString()',
                Items: items
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddDropdown", "Drodown")",
                contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(addDropdownParam),
            success: function (d) {
                alertSuccess("Success", "Successfully created dropdown!");
                ddItems = [];
                $("#tbl-dropdown").DataTable({
                    destroy: true,
                    data: ddItems,
                    columns: [{ title: "Item Name" }, { title: "Order" }]
                });

                $("#pnlAddDropdown").modal('toggle');
            },
            error: function (xhr, textStatus, errorThrown) {
                RemoveLoadingOverlay("#pnlPages");
                // TODO: Show error
            }
        });

            
        });


        $("#btnAddPage").click(function () {
            AddLoadingOverlay("#pnlPages");
            var isValid = $("#frmAddPage").valid();
            if (isValid) {
                var data = {
                    ModuleId: '@Model.Id.ToString()',
                    Page: {
                        Name: $("#txtName").val(),
                        Title: $("#txtTitle").val(),
                        Description: $("#txtDescription").val(),
                        IsDetailPage: $('#chkIsDetailPage').prop("checked") == true
                    }
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddPage", "AppModule")",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (d) {
                        RemoveLoadingOverlay("#pnlPages");
                        if (d.IsSuccess == true) {
                            $("#frmAddPage")[0].reset();
                            $("#pnlAddPage").modal('toggle');
                            alertSuccess("Success", "Successfully created page!");
                            LoadPages();
                            setTimeout(function () {
                                //document.location.href = "/DocumentTypes/Create/" + d.Result;
                            }, 1000);
                        }
                        else {
                            alertError("Error!", d.Message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        RemoveLoadingOverlay("#pnlPages");
                        // TODO: Show error
                    }
                });
            }
        });


        $("#btnCreateDocumentType").click(function () {
            var isValid = $("#frmCreateDocumentType").valid();
            if (isValid) {
                var data = {
                    Name: $("#txtDocumentName").val(),
                    Description: $("#txtDocDescription").val(),
                    AppModuleId: $("#pnlData").data("app-module-id")
                }
                $.ajax({
                    type: "POST",
                    url: "/DocumentTypes/Create",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (d) {
                        if (d.IsSuccess == true) {
                            $("#frmCreateDocumentType")[0].reset();
                            alertSuccess("Success", "Successfully created document type!");
                            setTimeout(function () {
                                document.location.href = "/DocumentTypes/Create/?id=" + d.Result + "&appId=" + $("#pnlData").data("app-module-id");
                            }, 1000);
                        }
                        else {
                            alertError("Error!", d.Message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                });
            }
        });

        $("#btnAddForm").click(function () {
            var isValid = $("#frmAddForm").valid();
            if (isValid) {
                var data = {
                    Name: $("#txtFormName").val(),
                    Description: $("#txtFormDescription").val(),
                    AppModuleId: $("#pnlData").data("app-module-id"),
                    DocumentTypeId: $("#ddDocumentType").val(),
                    SubDocumentTypeId: $("#ddSubDocumentType").val()
                }
                $.ajax({
                    type: "POST",
                    url: "/ModuleForm/Create",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (d) {
                        if (d.IsSuccess == true) {
                            $("#frmCreateDocumentType")[0].reset();
                            alertSuccess("Success", "Successfully created form!");
                            $("#pnlAddForm").modal('toggle');
                            LoadForList();
                        }
                        else {
                            alertError("Error!", d.Message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                });
            }
        });

        $("#btnAddDataView").click(function () {
            AddLoadingOverlay("#pnlDataViews");
            var isValid = $("#frmAddDataView").valid();
            if (isValid) {
                var data = {
                    AppModuleId: '@Model.Id.ToString()',
                    Name: $("#txtDataViewName").val(),
                    Description: $("#txtDataViewDescription").val(),
                    DataViewType: $("#ddDataViewType").val(),
                    DocumentTypeId: $("#ddDocumentTypeDataView").val(),
                    SubDocumentTypeId: $("#ddSubDocumentTypeDataView").val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "DataView")",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (d) {
                        RemoveLoadingOverlay("#pnlDataViews");
                        if (d.IsSuccess == true) {
                            $("#frmAddDataView")[0].reset();
                            $("#pnlAddDataView").modal('toggle');
                            alertSuccess("Success", "Successfully created data view!");
                            LoadDataViewList();
                            setTimeout(function () {
                                //document.location.href = "/DocumentTypes/Create/" + d.Result;
                            }, 1000);
                        }
                        else {
                            alertError("Error!", d.Message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        RemoveLoadingOverlay("#pnlDataViews");
                        // TODO: Show error
                    }
                });
            }
        });

    });
    </script>
}