@model List<softblocks.data.Model.AppModule>
@{
    Layout = null;
}


@foreach (var appModule in Model)
{
    <div class="col-md-3">
        <div class="hpanel">
            <div class="panel-body">
                <div class="text-center">
                    <h2 class="m-b-xs">@appModule.Name</h2>
                    <p class="font-bold text-success">Lorem ipsum</p>
                    <div class="m">
                        <i class="pe-7s-science fa-5x"></i>
                    </div>
                    <a href="@Url.Action("ModuleDetails", "AppModule", new { moduleId=appModule.Id.ToString() })" class="btn btn-success btn-sm">Configure</a>
                </div>
            </div>
        </div>
    </div>
}


@*@foreach (var appModule in Model)
{ 
    <div class="col-md-4 col-sm-8">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="fa fa-dashboard bg-megna"></i>
                <div class="bodystate">
                    <a href="@Url.Action("ModuleDetails", "AppModule", new { moduleId=appModule.Id.ToString() })"><h4>@appModule.Name</h4></a>
                    <span class="text-muted">@appModule.Description</span>
                </div>
            </div>
        </div>
    </div>
}*@


